@font-face {
  font-family: "Migra"; /* Nome personalizado */
  src: url("/files/assets/font/MigraItalic-ExtralightItalic.woff2")
    format("woff2");
  font-weight: normal; /* Peso da fonte (opcional) */
  font-style: italic; /* Estilo (normal ou itálico) */
  font-display: swap;
}
@font-face {
  font-family: "Poppins"; /* Nome personalizado */
  src: url("/files/assets/font/Poppins-Regular.woff2") format("woff2");
  font-weight: normal; /* Peso da fonte (opcional) */
  font-style: italic; /* Estilo (normal ou itálico) */
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("/files/assets/font/Ogg-LightItalic-BF646c18fc3aa5c.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Canopee";
  src: url("/files/assets/font/canopee-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aeonik";
  src: url("/files/assets/font/Aeonik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Helvetica";
  src: url("/files/assets/font/MigraItalic-ExtralightItalic.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntlThin";
  src: url("/files/assets/font/SuisseIntl-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "GrifinitoL";
  src: url("/files/assets/font/GrifinitoL.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("/files/assets/font/SuisseIntl-Regular.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
body {
  background-color: #000;
}

/* Mouse */

.cursor {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: -0.3%;
  z-index: 3;
  pointer-events: none;
  background-color: #ffffff;
}

/*GoodBye Page*/

.goodbye-page {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.text-end-goodbye {
  color: #fff;
  font-family: "aeonik";
  font-size: 5vw;
}

/*Reveal page */

.reveal-Page {
  width: 100%;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 5vw;
  font-family: "aeonik";
  pointer-events: none;
}
.firsh-text {
  position: absolute;
}

/* main content */

.submitPage {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
}
video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  filter: brightness(10%);
}
.name-email-inputed {
  color: #535353;
  font-family: "Aeonik";
  display: flex;
  width: 40%;
  gap: 1vw;
}
button p {
  mix-blend-mode: difference;
}
.email,
.number,
button {
  padding: 1vw 1vw;
  background-color: #0a0a0a;
  font-size: 1vw;
  border: 1px solid #33333336;
  border-radius: 1vw;
  text-overflow: ellipsis;
}
button:disabled {
  background-color: #0a0a0a;
}
button {
  background-color: #e7e7e7;
  color: #b4b4b4;
  transition: 0.3s all;
}
.email {
  width: 50%;
}

.number {
  width: 50%;
}
.input-content {
  width: 100%;
  position: relative;
}
input {
  width: 100%;
  padding: 1vw;
  font-size: 1vw;
  background-color: #0a0a0a;
  border: none;
  border: 1px solid #33333336;
  color: #fff;
}
.limit-char-subject {
  position: absolute;
  top: 50%;
  right: 1vw;
  color: rgb(207, 207, 207);
  transform: translateY(-50%);
  transition: 0.3s all;
}
form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  font-family: "Aeonik";
  color: #000000;
}
input,
textarea {
  border-radius: 1vw;
}
input:focus,
textarea:focus {
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: #b4b4b4;
}
.textarea-div {
  width: 100%;
  position: relative;
}
.limit-char-textarea {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  z-index: 2;
  color: rgb(207, 207, 207);
  transition: 0.3s all;
}
textarea {
  width: 100%;
  color: #fff;
  font-size: 1vw;
  height: 40svh;
  padding: 1vw;
  font-family: "Aeonik";
  background-color: #0a0a0a;
  border: 1px solid #33333336;
  resize: none;
}
.no-enabled {
  color: rgb(68, 26, 26);
  transition: 0.3s all;
}
.low-text {
  color: #3d3d3d;
  text-transform: uppercase;
  font-family: "Aeonik";
  position: absolute;
  bottom: 2vw;
  left: 2vw;
}
@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
  .name-email-inputed {
    width: 90%;
    overflow: hidden;
  }
  form {
    width: 90%;
  }
  .email,
  .number,
  button {
    font-size: 3.5vw;
    padding: 0;
    text-align: center;
    padding: 4vw 0vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  input {
    font-size: 3.5vw;
    padding: 4vw 4vw;
  }
  .textarea {
    font-size: 3.5vw;
    padding: 4vw;
  }
  .limit-char-subject,
  .limit-char-textarea {
    right: 2vw;
  }
  .limit-char-textarea {
    bottom: 3vw;
  }
  .low-text {
    display: none;
  }
}
