@font-face {
  font-family: "Aeonik";
  src: url("/files/assets/font/Aeonik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canopee";
  src: url("/files/assets/font/canopee-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Aeonik";
}
.line-top-page {
  width: 100%;
  height: 2vh;
  position: fixed;
  top: 0;
  background-color: #000000;
  z-index: 100;
}
.svg-corner {
  z-index: 100;
  position: fixed;
  left: 1vw;
  top: 2vh;
}
.svg-corner-2 {
  z-index: 100;
  position: fixed;
  right: 1vw;
  top: 2vh;
  transform: rotate(90deg);
}
.menu-select {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 12000;
  pointer-events: none;
}

.part-left-menu-select {
  position: relative;
  width: 50%;
  height: 100%;
  transform: translateX(-100%);
  background-color: #000;
}
.part-right-menu-select {
  width: 50%;
  height: 100%;
  background-color: #000;
  transform: translateX(100%);
}
.menu {
  width: 100%;
  height: 0;
  background-color: #ebebeb;
  top: 0;
  position: fixed;
  z-index: 9000;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.menu-options {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-family: "Canopee";
  font-size: 5vw;
}
.line-bottom-menu {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #a8a8a8;
}
.line {
  overflow: hidden;
}
.word {
  overflow: hidden;
  text-wrap: nowrap;
}
.char {
  transform: translateY(-100%);
}
header {
  width: 100%;
  padding: 3vw 4vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9000;
  top: 0;
  mix-blend-mode: difference;
}
.logo {
  color: white;
  font-family: "SuisseIntl-Regular", sans-serif;
  font-size: 1vw;
  mix-blend-mode: difference;
}
.menu-toogle {
  z-index: 10000;
  color: #fff;
  font-family: "aeonik";
  mix-blend-mode: difference;
  font-size: 4vw;
  display: flex;
  align-items: center;
  display: none;
}
nav {
  display: flex;
  gap: 0.5vw;
}
nav a {
  text-decoration: none;
  font-family: "SuisseIntl-Regular", sans-serif;
  font-size: 0.75vw;
  position: relative;
  color: #fff;
}
.link-nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease; /* Adicionando transição */
}

.link-nav:hover {
  &::before {
    width: 100%;
  }
}
.active {
  color: #a8a8a8;
}

.startpageDiv {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 3;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  z-index: 10000;
}
.not-logged {
  color: #fff;
  opacity: 0;
}
.home {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.grid-lines {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.grid-lines div {
  width: 1px;
  height: 100%;
  background-color: #1b1b1b;
}
.grid-lines-h {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
.grid-lines-h div {
  width: 100%;
  height: 1px;
  background-color: #1b1b1b;
}
.destaque {
  width: 98%;
  height: 96%;
  border-radius: 2vw;
  border: 1px solid #000000;

  object-fit: cover;
  position: relative;
  z-index: 1;
}
.welcome-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  font-size: 4vw;
  mix-blend-mode: difference;
}
.chat-conteiner {
  width: 100%;
  height: 100%;
}
.buttom-Ai {
  position: absolute;
  bottom: 4vw;
  z-index: 2;
  border: 0;
  padding: 0.8vw;
  font-size: 0.8vw;
  border-radius: 2vw;
  border: 1px solid #ffffff;
  transition: 0.3s all;
}
.buttom-Ai:hover {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px #f8f8f8;
  border: 1px solid #f8f8f8;
  color: #0f0f0f;
}
@media screen and (max-width: 768px) {
  /* Header */
  header {
    padding: 9vw 8vw;
  }
  .menu-toogle {
    display: flex;
  }
  .menu-options {
    font-size: 13vw;
  }
  .logo {
    font-size: 5vw;
  }
  nav {
    display: none;
  }
  .homepage p {
    font-size: 6vw;
  }
  /* main */
}
