@font-face {
  font-family: "Migra"; /* Nome personalizado */
  src: url("/files/assets/font/MigraItalic-ExtralightItalic.woff2")
    format("woff2");
  font-weight: normal; /* Peso da fonte (opcional) */
  font-style: italic; /* Estilo (normal ou itálico) */
  font-display: swap;
}
@font-face {
  font-family: "Poppins"; /* Nome personalizado */
  src: url("/files/assets/font/Poppins-Regular.woff2") format("woff2");
  font-weight: normal; /* Peso da fonte (opcional) */
  font-style: italic; /* Estilo (normal ou itálico) */
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("/files/assets/font/Ogg-LightItalic-BF646c18fc3aa5c.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Canopee";
  src: url("/files/assets/font/canopee-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aeonik";
  src: url("/files/assets/font/Aeonik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Helvetica";
  src: url("/files/assets/font/MigraItalic-ExtralightItalic.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntlThin";
  src: url("/files/assets/font/SuisseIntl-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "GrifinitoL";
  src: url("/files/assets/font/GrifinitoL.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("/files/assets/font/SuisseIntl-Regular.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #000000;
}
body {
  background-color: #000000;
}
.word {
  overflow: hidden;
}
.char {
  transform: translateY(100%);
  opacity: 0;
}
.reveal-page {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  z-index: 10000;
  color: #fff;
  font-family: "aeonik";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  pointer-events: none;
}
.reveal-page p {
  opacity: 0;
}
::-webkit-scrollbar {
  display: none;
}
.welcome-page {
  width: 100%;
  height: 100svh;
  background-color: #000000;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10001;
  color: #fff;
  font-family: "SuisseIntl-Regular", sans-serif;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.migra {
  font-family: "Migra";
}
/* Goodbye-page */
.goodbye-page {
  width: 100%;
  height: 100svh;
  background-color: #000000;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10001;
  color: #fff;
  font-family: "SuisseIntl-Regular", sans-serif;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
/* header */
.menu-select {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 12000;
  pointer-events: none;
}

.part-left-menu-select {
  position: relative;
  width: 50%;
  height: 100%;
  transform: translateX(-100%);
  background-color: #000;
}
.part-right-menu-select {
  width: 50%;
  height: 100%;
  background-color: #000;
  transform: translateX(100%);
}
.menu {
  width: 100%;
  height: 0;
  background-color: #ebebeb;
  top: 0;
  position: fixed;
  z-index: 9000;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.menu-options {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-family: "Canopee";
  font-size: 5vw;
}
.line-bottom-menu {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #a8a8a8;
}
.line {
  overflow: hidden;
}
.word {
  overflow: hidden;
  text-wrap: nowrap;
}
.char {
  transform: translateY(-100%);
}
header {
  width: 100%;
  padding: 2vw 2vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9000;
  top: 0;
  mix-blend-mode: difference;
}
.logo {
  color: white;
  font-family: "SuisseIntl-Regular", sans-serif;
  font-size: 1vw;
  mix-blend-mode: difference;
}
.menu-toogle {
  z-index: 10000;
  color: #fff;
  font-family: "aeonik";
  mix-blend-mode: difference;
  font-size: 4vw;
  display: flex;
  align-items: center;
  display: none;
}
nav {
  display: flex;
  gap: 0.5vw;
}
nav a {
  text-decoration: none;
  font-family: "SuisseIntl-Regular", sans-serif;
  font-size: 0.75vw;
  position: relative;
  color: #fff;
}
.link-nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease; /* Adicionando transição */
}

.link-nav:hover {
  &::before {
    width: 100%;
  }
}
.active {
  color: #a8a8a8;
}
/* MAIN */

.Ecohelp {
  font-family: "aeonik";
  font-size: 26vw;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.text-init {
  padding: 4vw;
  font-family: "aeonik";
  font-size: 1.2vw;
  color: #ffffff;
}
.img-init {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.img-init img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0);
}
.svg-from-img {
  width: 5vw;
  height: 5vw;
  position: absolute;
  left: 0;
  top: -2px;
  z-index: 2;
}
.svg-from-img-bottom {
  width: 5vw;
  height: 5vw;
  position: absolute;
  right: -1px;
  bottom: -2px;
  z-index: 2;
  transform: rotateX(180deg) rotateY(180deg);
}

/* footer */
.footer-conteiner {
  overflow: hidden;
  width: 100%;
  height: 83dvh;
  background-color: #000000;
}
footer {
  position: relative;
  width: 100%;
  height: 83dvh;
  overflow: hidden;
}

.top-content-footer {
  width: 100%;
  height: 45%;
  position: relative;
  display: flex;
  padding: 2.4vw 2.2vw;
}
.bottom-content-footer {
  width: 100%;
  height: 55%;
  position: relative;
}
.part-left-footer,
.part-right-footer {
  color: #fff;
  width: 50%;
  height: 100%;
  position: relative;
  font-family: "SuisseIntlThin", sans-serif;
}
.text-footer {
  font-size: 2vw;
}
.mini-contact {
  color: #fff;
  font-size: 0.9vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.form {
  position: absolute;
  max-width: 500px;
  width: 100%;
  width: 100;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  font-size: 0.9vw;
}
.form-footer {
  border-bottom: 1px solid #fff;

  position: relative;
}
.button-footer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
}
.input-footer {
  background-color: transparent;
  border: 0;
  padding: 0.5vw 0vw;
  color: #fff;
  width: 100%;
  font-size: 0.9vw;
}
.input-footer::placeholder {
  color: rgb(118, 118, 118);
}
.input-footer:focus {
  outline: none;
}
.text-footer-end {
  color: #fff;
  font-family: "aeonik", sans-serif;
  font-size: 26vw;
  position: absolute;
  bottom: 0vw;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0.9;
  text-align: center;
  pointer-events: none;
  display: flex;
  overflow: hidden;
}

.part-right-footer {
  display: flex;
  justify-content: end;
}
.content-part-right-footer {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  position: relative;
}
.top-left-part-right-footer {
  gap: 0.8dvh;
  flex-direction: column;
}
.top-left-part-right-footer,
.bottom-left-part-right-footer {
  width: 100%;
  height: 50%;
  display: flex;
  font-size: 0.9vw;
}
.bottom-left-part-right-footer {
  align-items: end;
}
.location-terms {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-part-right-footer {
  position: relative;
}
.left-part-right-footer {
  position: relative;
  display: flex;
  flex-direction: column;
}
.left-part-right-footer a,
.right-part-right-footer a {
  position: relative;
  text-decoration: none;
  width: max-content;
  transition: 1s all;
  color: #fff;
  font-size: 0.9vw;
}
.right-part-right-footer a::after,
.left-part-right-footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Inicia com largura 0 */
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease; /* Animação apenas da largura */
}
.right-part-right-footer a:hover,
.left-part-right-footer a:hover {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}
.charFooter {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
  .reveal-page p {
    font-size: 4vw;
  }
  /* Header */
  header {
    padding: 5vw 5vw;
  }
  .menu-toogle {
    display: flex;
  }
  .menu-options {
    font-size: 13vw;
  }
  .logo {
    font-size: 5vw;
  }
  nav {
    display: none;
  }
  .homepage p {
    font-size: 6vw;
  }
  /* main */
  .geiintouch {
    font-size: 3vw;
  }
  .Ecohelp {
    padding: 40vw 0vw;
  }
  .text-init {
    font-size: 3.5vw;
    padding: 10vw 4vw;
  }
  .text-init br {
    display: none;
  }
  .img-init {
    height: 500px;
  }
  .svg-from-img-bottom,
  .svg-from-img {
    width: 10vw;
    height: 10vw;
  }
  /* Footer */

  .top-content-footer {
    flex-direction: column-reverse;
  }
  .top-content-footer {
    height: auto;
  }
  .part-left-footer,
  .part-right-footer {
    width: 100%;
    height: auto;
  }
  .content-part-right-footer {
    margin-top: 25vw;
  }
  .part-left-footer {
    height: 50%;
    position: static;
    margin-top: 20vw;
  }
  .form {
    display: none;
  }
  .contact2 {
    font-size: 40vw;
  }
  .text-footer {
    font-size: 7vw;
    position: absolute;
    top: 2dvh;
    width: 100%;
  }
  .mini-contact {
    font-size: 3.5vw;
    position: relative;
  }
  .left-part-right-footer a,
  .right-part-right-footer a {
    font-size: 4vw;
  }
  .top-left-part-right-footer,
  .bottom-left-part-right-footer {
    font-size: 3.5vw;
    padding: 2vw 0;
  }
  .bottom-content-footer {
    height: auto;
    position: absolute;
    bottom: 4vw;
  }
  .footer-conteiner {
    height: 63dvh;
  }
  .footer {
    height: 63dvh;
  }
  .text-welcome {
    font-size: 4vw;
  }
}
