@font-face {
  font-family: "Migra"; /* Nome personalizado */
  src: url("./assets/font/MigraItalic-ExtralightItalic.woff2") format("woff2"),
    url("./assets/font/MigraItalic-ExtralightItalic.ttf") format("truetype");
  font-weight: normal; /* Peso da fonte (opcional) */
  font-style: italic; /* Estilo (normal ou itálico) */
  font-display: swap;
}
@font-face {
  font-family: "Poppins"; /* Nome personalizado */
  src: url("./assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal; /* Peso da fonte (opcional) */
  font-style: italic; /* Estilo (normal ou itálico) */
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("./assets/font/Ogg-LightItalic-BF646c18fc49421.otf") format("otf"),
    url("./assets/font/Ogg-LightItalic-BF646c18fc3aa5c.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Canopee";
  src: url("./assets/font/canopee-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aeonik";
  src: url("./assets/font/Aeonik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Helvetica";
  src: url("assets/font/HelveticaNeueThin.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntlThin";
  src: url("assets/font/SuisseIntl-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GrifinitoL";
  src: url("https://db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.eot");
  src: url("https://db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c87f20c55baa7eccc98b8603b5eecea.svg#GrifinitoL")
      format("svg");
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot");
  src: url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.svg#SuisseIntl-Regular")
      format("svg");
  font-display: swap;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.init-mobile {
  display: none;
}
.hidden-page {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 10001;
  opacity: 0;
  pointer-events: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
::-webkit-scrollbar {
  display: none;
}

body.no-scroll {
  overflow: hidden; /* Desativa a rolagem */
  height: 100vh; /* Mantém a altura da viewport */
}
main {
  position: relative;
  z-index: 2;
}
.hidden {
  opacity: 0;
  transform: translateY(50px);
  filter: blur(5px);
  transition: 1s all;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: 2s all;
}
.loading-conteiner {
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  display: flex;
}
.learn-more {
  display: flex;
  position: fixed;
  top: 0;
  left: 2%;
  align-items: center;
  color: #fff;
  font-family: "aeonik", sans-serif;
  font-size: 1vw;
  text-align: center;
  z-index: 9999;
  gap: 5px;
  transition: scale 0.3s;
  scale: 0;
  mix-blend-mode: difference;
}
.learn-more svg {
  position: absolute;
  top: 0%;
  width: 1.2vw;
  height: 1.2vw;
}
.word2,
.word3,
.word4 {
  opacity: 0;
}
.svg-learn-more-2 {
  top: 100%;
}
body {
  background: #000000;
}
header svg {
  opacity: 0;
}
.cursor {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: -0.3%;
  z-index: 9998;
  pointer-events: none;
  background-color: #ffffff;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.left-part-loading,
.right-part-loading {
  will-change: transform;
  width: 50%;
  height: 100vh;
  background: #000000fd;
  position: relative;
  top: 0;
}

.left-part-loading {
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
.right-part-loading {
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.padding-all-content {
  width: 100%;
  padding: 0 10rem;
}
.carousel-init {
  width: 100%;
  height: 100vh;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 9999;
}

.top-carousel,
.center-carousel,
.bottom-carousel {
  height: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vw;
  font-family: "Canopee";
  letter-spacing: 2vw;
  font-weight: lighter;

  white-space: nowrap;
  position: relative;
  top: 20px;
}

.name-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.homepage::before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.p-homepage {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 9998;
  color: rgb(119, 119, 119);
  font-size: 20px;
  font-family: "Aeonik";
}
.content-logo {
  display: flex;
  position: absolute;
  top: 60px;
  right: 50%;
  transform: translateX(50%);
  padding: 0 4rem;
  opacity: 0;
}
.line-logo {
  width: 40px;
  height: 1px;
  background-color: #ffffff;
}

.logo-1,
.logo-3,
.logo-5 {
  transform: rotate(45deg);
  margin-left: -12px;
  animation-name: movelogo1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.logo-2,
.logo-4 {
  transform: rotate(-45deg);
  margin-left: -12px;
  animation-name: movelogo2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes movelogo1 {
  0% {
    transform: rotate(0deg);
    margin-left: 0px;
  }
  25% {
  }
  50% {
    transform: rotate(45deg);
    margin-left: -12px;
  }
  75% {
  }
  100% {
    transform: rotate(0deg);
    margin-left: 0px;
  }
}
@keyframes movelogo2 {
  0% {
    transform: rotate(0deg);
    margin-left: 0px;
  }
  25% {
  }
  50% {
    transform: rotate(-45deg);
    margin-left: -12px;
  }
  75% {
  }
  100% {
    transform: rotate(0deg);
    margin-left: 0px;
  }
}
.fixed-min-logo {
  padding: 0 0.1em;
  position: fixed;
  color: #4b3e3e;
  font-size: 10vw;
  font-family: "Poppins";
  z-index: 9996;
  mix-blend-mode: difference;
  bottom: -40px;
}
.name-a {
  left: 50%;
  transform: translateX(-50%);
}
.name-w {
  right: 0%;
}
.carousel-init::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 11000;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.carousel-init::before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 11000;
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.menu-toggle {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 10000;
  font-size: 20px;
  mix-blend-mode: difference;
}

.menu {
  left: 0;
  width: 100%;
  height: 0; /* Ajuste a altura conforme necessário: 0 */
  top: 0;
  position: fixed;
  z-index: 9997;
  backdrop-filter: blur(100px);
  display: flex;
  overflow: hidden;
  background-color: #dddddd;
}
.menu-grid-area {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.menu-grid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.3s all;
  overflow: hidden;
}
.menu-grid:hover {
  background-color: #2b2b2b;
  a {
    padding: 2vw;
  }
}
.line-left-grid-menu,
.line-right-grid-menu {
  width: 1px;
  height: 100%;
  background-color: #ffffff15;
  mix-blend-mode: difference;
  position: absolute;
  z-index: 5;
}
.line-left-grid-menu {
  left: 0;
}
.line-right-grid-menu {
  right: 0;
}
.menu-grid p {
  color: #fff;
  font-family: "Neue helvetica", sans-serif;
  font-size: 0.9vw;
  mix-blend-mode: difference;
  position: absolute;
  bottom: 2vw;
}
.menu-grid-button-config {
  position: absolute;
  text-decoration: none;
  color: #fff;
  font-family: "Canopee", sans-serif;
  font-size: 10vw;
  transform: rotate(-90deg) translateX(50%);
  mix-blend-mode: difference;
  transition: 0.3s all;
  display: flex;
}
.imovible-menu {
  width: 50%;
  min-width: 50%;
  height: 100%;
  position: relative;
}
.p-menu-2 {
  color: #313131;
  position: relative;
  z-index: 4;
  padding: 1vw 1vw;
  font-size: 0.9vw;
  font-family: "aeonik";
  mix-blend-mode: difference;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
}
.p-menu-3 {
  padding: 2vw 2vw;
  font-family: "Canopee", sans-serif;
  font-size: 2vw;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.spaceLine {
  margin-left: 0.3vw;
}
.word-menu {
  display: flex;
  overflow: hidden;
}
.imovible-part-bottom,
.imovible-part-top {
  width: 100%;
  height: 50%;
}
.imovible-part-bottom {
  background-color: #d3d3d3;
  position: relative;
  z-index: 4;
}
.imovible-part-top {
  font-size: 25vw;
  font-family: "Canopee", sans-serif;
  position: relative;
  overflow: hidden;
}
.imovible-part-top p {
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: difference;
  color: #222121ea;
  display: flex;
}
.imovible-menu video {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  object-fit: cover;
  filter: brightness(30%);
}
.new-business-menu {
  mix-blend-mode: difference;
  color: #fff;
  position: absolute;
  left: 2vw;
  bottom: 2vw;
  font-family: "aeonik";
  font-size: 0.9vw;
  gap: 1vw;
}
.flag-of-country {
  width: 2vw;
  filter: saturate(50%);
}
.flag-of-country-2 {
  width: 2vw;
  filter: saturate(50%);
  border-radius: 10px;
}
.change-language {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  z-index: 6;
  padding: 0.8vw 0.8vw;
  background-color: rgb(212, 212, 212);
  border-radius: 1.5vw;
  transition: 0.3s background-color;
  border: 1px solid #3a3a3a13;
}
.change-language:hover {
  background-color: #ffffff;
  .padding-change-language a {
    gap: 1vw;
  }
}
.padding-change-language {
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding-change-language img {
  width: 2.5vw;
  border-radius: 0.5vw;
}
.padding-change-language svg {
  mix-blend-mode: difference;
}
.padding-change-language a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Aeonik";
  text-decoration: none;
  gap: 0.5vw;
  transition: 0.3s all;
}
.loading-menu-conteiner {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
}
.right-part-loading-menu,
.left-part-loading-menu {
  width: 50%;
  height: 100%;
  background-color: #d2d2d2;
}
.right-part-loading-menu {
  position: absolute;
  right: -100%;
  top: 0;
}
.left-part-loading-menu {
  position: absolute;
  left: -100%;
  top: 0;
}

.a-menu {
  gap: 20px;
  width: min-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  position: relative;
  svg {
    transform: translateX(-100%);
    transition: 0.5s all;
  }
  p {
    font-size: 6.5vw;
    transition: 0.5s all;
    transform: translateX(-64px) translateY(-100%);
  }
}
.a-menu:hover {
  svg {
    transform: translateX(0);
  }
  p {
    transform: translateX(0);
  }
}
#text-tcc {
  font-family: "Poppins";
}
.slider {
  width: 100%;
  height: 300vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.slider::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000);
  height: 20vh;
  z-index: 2;
}
.text-center-homepage {
  position: relative;
  height: fit-content;
  line-height: 1.2;
  font-weight: 400;
  grid-column: 4 / span 5;
  font-family: "Aeonik", sans-serif;
  overflow: hidden;
}

.slider-content {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  overflow: hidden;
}
.slider-content p {
  color: #ffffff;
  mix-blend-mode: difference;
  font-weight: 100;
  font-size: 7vw;
  text-align: center;
  font-family: "aeronik", sans-serif;
  line-height: 1.2;
  .ogg {
    font-family: "Ogg";
  }
  .migra {
    font-family: "Migra";
  }
  .canopee {
    font-family: "Canopee";
  }
  .aeonik {
    font-family: "Aeonik";
  }
}
.text-i {
  position: absolute;
}
.text-slider-2,
.text-slider-3 {
  opacity: 0;
}
.video-slider {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(20%)
    blur(10px);
  opacity: 0;
}
.gallery-wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

.valuepage2 {
  width: 100%;
  background-color: #000000;
  position: relative;
}
.carousel-text {
  width: 100%;
  overflow: hidden; /* Esconde o conteúdo que ultrapassa o contêiner */
  position: relative;
  background-color: #000; /* Fundo preto para contraste */
  display: flex;
  gap: 3vw;
}
.carousel-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, #000000, transparent);
  z-index: 1;
}

.carousel-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to left, #000000, transparent);
  z-index: 1;
}

.carousel-text-content {
  color: rgb(71, 71, 71);
  font-size: 10vw;
  font-family: "aeonik", sans-serif;
  text-wrap: nowrap; /* Impede a quebra de linha */
  padding-top: 4rem;
  padding-bottom: 6rem;
  display: flex;
  align-items: center;
  gap: 3vw; /* Espaçamento entre textos e círculos */
  animation: scroll 20s linear infinite; /* Animação de rolagem */
}

.carousel-text-content p {
  display: inline;
  margin: 0; /* Remove margens padrão */
}
.line-carousel-bottom {
  width: 100%;
  height: 1px;
  background-color: rgb(37, 37, 37);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.value-top-bottom-conteiner {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.value-top-bottom-img {
  width: 50%;
  overflow: hidden;
}
.value-top-bottom-img img {
  width: 100%;
  scale: 1.5;
}
.value-top-bottom-text-top {
  color: #444444;
  padding: 2vw 2vw;
  font-family: "Aeonik", sans-serif;
  font-size: 1vw;
}
.bottom-img-text {
  color: #3d2500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vw;
  text-transform: uppercase;
  font-family: "GrifinitoL";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.8;
  text-wrap: nowrap;
}
/* Animação de rolagem */
@keyframes scroll {
  0% {
    transform: translateX(0%); /* Começa da posição inicial */
  }
  100% {
    transform: translateX(-50%); /* Move para a esquerda */
  }
}
.migra {
  font-family: "migra", sans-serif;
}
.Ogg {
  font-family: "Ogg", sans-serif;
}
.Canoppe {
  font-family: "Canoppe", sans-serif;
}

.video-background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: sticky;
  top: 0;
}
/* ProductPage */
.product-section {
  width: 100%;
}
.grid-area-product {
  width: 100%;
  position: relative;
  transition: 0.2s height, 0.2s background-color, 2s transform, 2s filter,
    2s opacity;
  padding: 4vw 4vw;
  overflow: hidden;
}
.top-content-grid-area {
  display: flex;
  width: 100%;
  top: 0;
  background-color: transparent;
  border: none;
}
.top-content-grid-area p {
  color: #fff;
  font-family: "aeonik", sans-serif;
  font-weight: 600;
  font-size: 10vw;
  mix-blend-mode: difference;
  text-align: end;

  pointer-events: none;
}
.top-content-grid-area p::selection {
  background-color: #000000;
  color: #fff;
}
.video-conteiner-grid {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.video-product {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 2vw;
}
.bottom-content-grid-area {
  max-height: 0;
  width: 100%;
  display: flex;
  justify-content: end;

  transition: 0.5s all;
}
.bottom-content-grid-area p {
  padding-top: 4vw;
  font-family: "aeonik", sans-serif;
  font-size: 2vw;
  width: 70%;
  color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
}
.t-c-g-a-2 {
  flex-direction: row-reverse;
}
.text-b-c-g-a-2 {
  justify-content: start;
}
.projects-eco-place {
  width: 100%;
  height: 20vh;
  position: relative;
}

.eco-project {
  width: 100%;
  height: 90vh;
  position: relative;
}
.text-eco-place {
  width: 100%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  font-family: "aeonik", sans-serif;
  position: relative;
  top: 6vw;
  line-height: 0.45;
  font-size: 23vw;
  font-weight: 600;
}
.text-eco-place-2 {
  position: absolute;
  color: #fff;
  display: flex;
  gap: 5vw;
  font-family: "SuisseIntl-Regular";
  bottom: 2vw;
  left: 2vw;
  font-size: 0.8vw;
  font-weight: 500;
}

.eco-project-video p {
  color: #ffffff;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "SuisseIntlThin";
  font-size: 3vw;
  mix-blend-mode: difference;
}
.text-product-final {
  color: #fff;
  position: relative;
  font-family: "SuisseIntlThin";
  font-weight: 500;
  font-size: 1.8vw;
  padding: 4vw 2vw;
  mix-blend-mode: difference;
}
.test-div {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: sepia(50%);
  position: relative;
  overflow: hidden;
}
.test-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgb(8, 8, 8);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 2;
}
.test-div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgb(8, 8, 8);
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 2;
}
.test-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.mission {
  position: absolute;
  left: 2vw;
  bottom: 2vw;
  color: #fff;
  font-family: "aeonik", sans-serif;
  font-weight: 600;
  font-size: 8vw;
  mix-blend-mode: difference;
  z-index: 3;
}
.lean-more-mission {
  color: #fff;
  z-index: 4;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  font-size: 1vw;
  font-family: "aeonik", sans-serif;
  right: 2vw;
  bottom: 2vw;
}
.lean-more-mission div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.final-project {
  color: #3d3c3c;
  font-family: "aeonik", sans-serif;
  text-align: end;
  position: relative;
  text-transform: uppercase;
  padding: 1vw 2.5vw;
}
/* AboutPage */
.about-page-changeC {
  width: 100%;
  position: relative;
}
.conteiner-abt-page-chanceC {
  width: 100%;
  bottom: 0;
}
.content-abt-changeC {
  width: 100%;
  bottom: 0;
  overflow: hidden;
}
.part-top-c-abt-changeC {
  padding: 2vw 2vw;
  position: relative;
  background: rgb(12, 12, 12);
  background: linear-gradient(0deg, rgba(12, 12, 12, 1) 0%, #000000 100%);
}
.part-top-c-abt-changeC p {
  font-family: "aeonik", sans-serif;
  font-size: 15vw;
  color: #f8f8f8;
  mix-blend-mode: difference;
  z-index: 2;
}
.part-bottom-c-abt-changeC {
  width: 100%;
  height: 100%;
  background-color: #0c0c0c;
  position: relative;
}
.grid-white-rows {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.grid-column-white {
  width: 100%;
  height: 1px;
  background-color: #161616;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.white-row {
  width: 1px;
  height: 100%;
  background-color: #161616;
}
.text-abt-changeC {
  font-size: 1vw;
  font-family: "aeonik", sans-serif;
  color: #f8f8f8;
  mix-blend-mode: difference;
  position: relative;
  z-index: 4;
  padding: 4vw 2vw;
}
.aboutpage2 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #0c0c0c;
  padding: 2vw 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 2vw;
  position: relative;
}
.img-abt-2-item-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2vw;
}
.text-abt-2 {
  font-size: 0.8vw;
  font-family: "aeonik", sans-serif;
  color: #f8f8f8;
  mix-blend-mode: difference;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 4;
  padding: 2vw 2vw;
}
.text-abt-2-1 {
  padding: 2vw 2vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  color: #fff;
  font-family: "aeonik", sans-serif;
  font-size: 4vw;
  mix-blend-mode: difference;
}
.text-abt-3 {
  padding: 4vw 2vw;
  position: relative;
  background: rgb(12, 12, 12);
}
.text-abt-3 p {
  font-size: 1.5vw;
  font-family: "aeonik", sans-serif;
  color: #f8f8f8;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

.carousel-image-about {
  width: 100%;
  overflow: hidden; /* Esconde o conteúdo que ultrapassa o contêiner */
  position: relative;
  background-color: #000; /* Fundo preto para contraste */
  display: flex;
  gap: 4vw;
  padding: 6vw 0;
  background: #0e0e0e;
}
.carousel-image-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(to right, #0e0e0e, transparent);
  z-index: 1;
}
.carousel-image-about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(to left, #0e0e0e, transparent);
  z-index: 1;
}
.carousel-image-content {
  min-width: 100vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 3vw;
  animation: scroll 20s linear infinite reverse;
}
.carousel-image-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
  border-radius: 0.5vw;
}
.line-top-carousel {
  width: 100%;
  height: 1px;
  background-color: #161616;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
/* Fundadores */
.text-abt-4 {
  padding: 10vw 2vw;
  position: relative;
  background: #0e0e0e;
}
.text-abt-4 p {
  font-size: 5.5vw;
  font-family: "aeonik", sans-serif;
  color: #f0f0f0;
  position: relative;
  right: 0;
  z-index: 2;
  text-align: end;

  z-index: 4;
}
.founders {
  position: relative;
  background: #0e0e0e;
}
.founders-conteiner {
  padding: 4vw 2vw;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  overflow: hidden;
  position: relative;
}
.img-fnders-name {
  display: flex;
}
.img-fnders-name div {
  width: 50%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.6vw;
  font-family: "Aeonik", sans-serif;
  position: relative;
}
.img-fnders-name img {
  position: relative;
  right: 0;
  aspect-ratio: 1 / 1;
  width: 60%;
  height: fit-content;
  object-fit: cover;
  filter: grayscale(100%);
}
.text-about-founders {
  color: #fff;
  padding: 0vw 5vw;
  font-family: "aeonik", sans-serif;
  font-size: 1.75vw;
}
.profission-contry {
  display: flex;
}
.profission-contry div {
  width: 50%;
  height: 100%;
  color: #fff;
  font-family: "aeonik", sans-serif;
  font-size: 0.6vw;
  text-transform: uppercase;
  padding: 0 2vw;
}
/* Contato */

.contact {
  width: 100%;
  background: #0e0e0e;
}
.contact-content {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 1;
}
.contact-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact2 {
  left: 50%;
  bottom: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 40vw;
  text-wrap: nowrap;
  font-family: "GrifinitoL", sans-serif;
  mix-blend-mode: difference;
  font-weight: 500;
  line-height: 0.7;
  width: max-content;
}
/* Footer */
.footer-conteiner {
  width: 100%;
  height: 83vh;
  background-color: #000000;
}
footer {
  position: relative;
  width: 100%;
  height: 83vh;
  overflow: hidden;
}

.top-content-footer {
  width: 100%;
  height: 45%;
  position: relative;
  display: flex;
  padding: 2.4vw 2.2vw;
}
.bottom-content-footer {
  width: 100%;
  height: 55%;
  position: relative;
}
.part-left-footer,
.part-right-footer {
  color: #fff;
  width: 50%;
  height: 100%;
  position: relative;
  font-family: "SuisseIntlThin", sans-serif;
}
.text-footer {
  font-size: 2vw;
}
.mini-contact {
  color: #fff;
  font-size: 0.9vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.form {
  position: absolute;
  max-width: 500px;
  width: 100%;
  width: 100;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  font-size: 0.9vw;
}
form {
  border-bottom: 1px solid #fff;

  position: relative;
}
.button-footer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
}
input {
  background-color: transparent;
  border: 0;
  padding: 0.5vw 0vw;
  color: #fff;
  width: 100%;
  font-size: 0.9vw;
}
input::placeholder {
  color: rgb(118, 118, 118);
}
input:focus {
  outline: none;
}
.text-footer-end {
  color: #fff;
  font-family: "aeonik", sans-serif;
  font-size: 26vw;
  position: absolute;
  bottom: 0vw;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0.9;
  text-align: center;
  pointer-events: none;
  display: flex;
  overflow: hidden;
}

.part-right-footer {
  display: flex;
  justify-content: end;
}
.content-part-right-footer {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  position: relative;
}
.top-left-part-right-footer {
  gap: 0.8vh;
  flex-direction: column;
}
.top-left-part-right-footer,
.bottom-left-part-right-footer {
  width: 100%;
  height: 50%;
  display: flex;
  font-size: 0.9vw;
}
.bottom-left-part-right-footer {
  align-items: end;
}
.location-terms {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-part-right-footer {
  position: relative;
}
.left-part-right-footer {
  position: relative;
  display: flex;
  flex-direction: column;
}
.left-part-right-footer a,
.right-part-right-footer a {
  position: relative;
  text-decoration: none;
  width: max-content;
  transition: 1s all;
  color: #fff;
  font-size: 0.9vw;
}
.right-part-right-footer a::after,
.left-part-right-footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Inicia com largura 0 */
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease; /* Animação apenas da largura */
}
.right-part-right-footer a:hover,
.left-part-right-footer a:hover {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}
.charFooter {
  display: inline-block;
  vertical-align: middle;
}
/* Responsividade */
@media screen and (max-width: 600px) {
  .init-mobile {
    position: fixed;
    top: 0;
    z-index: 10001;
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  .init-mobile p {
    opacity: 0;
    color: #fff;
    font-size: 5vw;
    font-family: "aeonik";
  }
  .value-bottom-right {
    font-size: 5vw;
    width: 70%;
    padding: 0;
  }
  .part-left-info {
    text-align: end;
    width: 100%;
  }
  .value-bottom-left p {
    font-size: 14px;
  }
  .value-bottom-left {
    width: 30%;
  }
  .adjust-left-2 {
    display: flex;
    justify-content: end;
  }
  .gallery-wrapper {
    overflow: hidden;
  }
  .fixed-min-logo {
    font-size: 20vw;
    bottom: 0;
  }
  .text-value-top {
    font-size: 20vw;
  }
  .text-1-value-top {
    font-size: 3vw;
  }
  .p-homepage {
    font-size: 3vw;
    left: 20px;
  }
  .menu-toggle {
    width: 10vw;
  }
  .imovible-menu {
    display: none;
  }
  .menu-grid-area {
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 1fr);
  }
  .menu-grid p {
    font-size: 2.2vw;
  }
  .menu-grid-button-config {
    font-size: 12vw;
    top: 50%;
    transform: rotate(0deg) translateX(0%) translatey(-50%);
  }
  .line-right-grid-menu {
    width: 100%;
    height: 1px;
  }
  .part-left-menu {
    display: flex;
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
  #text-tcc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-content p {
    .logo-empresa {
      font-size: 20vw;
    }
  }
  .a-menu {
    p {
      font-size: 20vw;
    }
  }
  .value-top-bottom-img img {
    scale: 2;
  }
  .value-top-bottom-img {
    width: 50%;
  }
  .value-top-bottom-text-top {
    font-size: 4.5vw;
    position: absolute;
    padding: 3rem 3rem;
  }
  .bottom-img-text {
    font-size: 40vw;
  }
  .change-language {
    bottom: 3vw;
    right: 2vw;
    font-size: 4.5vw;
    text-wrap: nowrap;
    padding: 2vw 2vw;
    border-radius: 5vw 5vw;
    background-color: #ffffff;
    border: 1px solid #ffffff18;
  }
  .padding-change-language img {
    width: 10vw;
    border-radius: 1vw 1vw;
  }
  .part-top-c-abt-changeC p {
    font-size: 30vw;
  }
  .text-abt-changeC {
    font-size: 4vw;
    padding: 8vw 4vw;
    text-align: justify;
  }
  .text-abt-2-1 {
    font-size: 20vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
  }
  .text-abt-2 {
    font-size: 3.5vw;
    padding: 4vw 4vw;
    text-align: justify;
  }
  .text-abt-2 br {
    display: none;
  }
  .text-abt-changeC br {
    display: none;
  }
  .video-conteiner-grid {
    padding-right: 2vw;
  }
  .cursor {
    display: none;
  }
  .text-eco-place {
    line-height: 25vw;
  }
  .eco-project {
    height: 70vh;
  }
  .img-eco-place {
    display: none;
  }
  .test-div {
    background-image: url(/files/assets/img/vestrahorn.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .text-product-final {
    font-size: 4vw;
    padding: 10vw 4vw;
    text-align: justify;
  }
  .text-product-final br {
    display: none;
  }
  .video-conteiner-grid {
    width: 100%;
    height: 10vh;
  }
  .text-eco-place-2 {
    font-size: 2.5vw;
    padding: 2vw 2vw;
  }
  .bottom-content-grid-area p {
    padding-top: 10vw;
    padding-bottom: 10vw;
    width: 100%;
    font-size: 4vw;
    text-align: justify;
  }
  .aboutpage2 {
    padding: 4vw 4vw;
  }

  .mission {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    font-size: 20vw;
  }
  .learn-more {
    display: none;
  }
  .text-abt-4 p {
    font-size: 7.5vw;
    font-weight: 600;
  }
  .img-fnders-name img {
    width: 40%;
  }

  .founders-conteiner {
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
  }
  .img-fnders-name {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  .text-abt-3 br {
    display: none;
  }
  .text-abt-3 {
    padding: 4vw 4vw;
  }
  .text-abt-3 p {
    font-size: 4vw;
  }
  .img-fnders-name div {
    font-size: 5.5vw;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  .text-about-founders {
    font-size: 4vw;
    text-align: justify;
    padding-bottom: 10vw;
    color: #dedede;
  }
  .profission-contry {
    grid-row: 2;
    padding-bottom: 10vw;
  }
  .profission-contry div {
    font-size: 2.5vw;
    text-align: center;
  }
  .lean-more-mission {
    font-size: 5vw;
    gap: 3vw;
    bottom: 4vw;
    right: 4vw;
  }
  .carousel-image-content {
    min-width: 400vw;
    animation: scroll 40s linear infinite reverse;
  }
  .projects-eco-place {
    height: 10vh;
  }
  .top-content-footer {
    flex-direction: column-reverse;
  }
  .top-content-footer {
    height: auto;
  }
  .part-left-footer,
  .part-right-footer {
    width: 100%;
    height: auto;
  }
  .content-part-right-footer {
    margin-top: 25vw;
  }
  .part-left-footer {
    height: 50%;
    position: static;
    margin-top: 20vw;
  }
  .form {
    display: none;
  }
  .contact2 {
    font-size: 40vw;
  }
  .text-footer {
    font-size: 7vw;
    position: absolute;
    top: 2vh;
    width: 100%;
  }
  .mini-contact {
    font-size: 3.5vw;
    position: relative;
  }
  .left-part-right-footer a,
  .right-part-right-footer a {
    font-size: 4vw;
  }
  .top-left-part-right-footer,
  .bottom-left-part-right-footer {
    font-size: 3.5vw;
    padding: 2vw 0;
  }
  .bottom-content-footer {
    height: auto;
    position: absolute;
    bottom: 4vw;
  }
  .footer-conteiner {
    height: 63vh;
  }
  .footer {
    height: 63vh;
  }
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .footer-conteiner {
    height: 73vh;
  }
  .footer {
    height: 73vh;
  }
}
